body{
    background-color: #192428;
    color: whitesmoke;
}

nav {
    background-color: rgba(0, 0, 0, 0.481) !important;
    margin-bottom: 1rem;  
    && a{
        color:#0784b5 !important;
    }
    && a:hover{
        color:inherit !important;
    }
    && .h1 {
        color: whitesmoke !important;
        background-color: #03364863;
        padding: .5em;
        border-radius: 1em;
    }
}


form {    
    && input {
        border-radius: 1em;
        max-width: fit-content;
    }

    && textarea {
        margin: 2px;
        border-radius: 1em;
    }
}

table {
    min-width: 100%;
    margin-bottom: 1em;
    border-collapse: collapse;
    text-align: center;

    && th {
        background-color: rgba(0, 0, 107, 0.43) !important;
        border: 2px solid rgb(0, 0, 0) !important;
        padding: 1em !important;
        color:white !important;
    }

    && td {
        background-color: rgba(3, 3, 75, 0.219) !important;
        border: 2px solid rgb(0, 0, 0) !important;
        padding: 1em !important;
        color: white !important;
    }

    && table td {
        border: 0;
        border-bottom: 2px solid rgb(0, 0, 0) !important;
        border-top: 2px solid rgb(0, 0, 0) !important;
    }

}

.tableDiv{
    overflow-x: hidden;
    height: 85dvh;
    width: 100%;
    overflow-y: auto;
    overflow-x: auto;
}

.listTable {
    table-layout: auto;
    overflow: auto;
    && td, th{
        white-space: normal !important;
        max-height: 10em !important;
    }
    && .api_id{
        width: 6em !important;
    }
    && .is_active{
        width: 10em !important;
    }
    && .title, .image_url, #actionsCol{
        width: 15em;
    }
    #actionsCol a{
        margin-top: .5em;
        margin-bottom: .5em;        
    }

}




textarea:disabled, input:disabled, textarea:disabled::placeholder, input:disabled::placeholder{
    background-color: gray !important;
    color: black !important;
}

textarea:disabled:hover, input:disabled:hover{
    cursor: not-allowed;
}
