body{
    background-color: #192428;
    color: whitesmoke;
}

nav {
    && li {
        display: inline;
    }

    && ul {
        background-color: rgba(0, 0, 0, 0.481);
        font-size: larger;
        padding: 1em;
    }

    && li a{
        color:#0784b5;
        margin: 1rem;
    }
}


form {    
    && input {
        border-radius: 1em;
        max-width: fit-content;
    }

    && textarea {
        margin: 2px;
        border-radius: 1em;
    }
}

table {
    min-width: 100%;
    margin-bottom: 1em;
    border-collapse: collapse;
    text-align: center;

    && th {
        background-color: rgba(0, 0, 107, 0.43) !important;
        border: 2px solid rgb(0, 0, 0) !important;
        padding: 1em !important;
        color:white !important;
    }

    && td {
        background-color: rgba(3, 3, 75, 0.219) !important;
        border: 2px solid rgb(0, 0, 0) !important;
        padding: 1em !important;
        color: white !important;
    }

    && table td {
        border: 0;
        border-bottom: 2px solid rgb(0, 0, 0) !important;
        border-top: 2px solid rgb(0, 0, 0) !important;
    }

}

.tableDiv{
    overflow-x: hidden;
    height: 85dvh !important;
    width: 100%;
    overflow-y: auto !important;
}



.listTable {
    table-layout: fixed;
}
  
.listTable td{ 
    height: 5em;
    overflow-x: auto;
}

textarea:disabled, input:disabled, textarea:disabled::placeholder, input:disabled::placeholder{
    background-color: gray !important;
    color: black !important;
}

textarea:disabled:hover, input:disabled:hover{
    cursor: not-allowed;
}
